
.tool-bar-action {
    display: flex;
    padding: 0!important;
}
.tool-bar-action .item {
    display: block;
    width: 100%;
    padding: 8px 16px;
    clear: both;
    font-weight: 400;
    color: #2A2E30;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.tool-bar-action .item:hover, .tool-bar-action .item:focus {
    color: #1e2122;
    text-decoration: none;
    background-color: #F9FAFD;
}
.loading.active {
    background: #263238c7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading>i {
    color: #fff;
    font-size: 80px!important;
}